<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>iWE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="__STATIC__/emt/utils/vant-2.10/index.css">
  <script src="__STATIC__/emt/utils/vue-2.6/vue.min.js"></script>
  <script src="__STATIC__/emt/utils/vant-2.10/vant.min.js"></script>
  <link href="__TMPL__/emt/detail/index.css" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/emt/utils/base.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="__STATIC__/emt/utils/jquery/jquery.js"></script>
</head>
<body>
<div class="app">
  <van-nav-bar left-arrow @click-left="onClickLeft" title="自定义会议详情"></van-nav-bar>
  <div class="content">
    <van-tabs v-model="activeKey" @click="sidebarClick">
      <van-tab title="基本信息" name="a"></van-tab>
      <van-tab title="线上直播" v-if="minfo.emt && !isEdit" name="c"></van-tab>
      <van-tab title="线下签到" v-if="minfo.meeting_ischeck && !isEdit" name="d"></van-tab>
    </van-tabs>
    <van-form ref='form'>
      <!-- 1、基本信息 -->
      <div class="activeView" :style="{display:activeKey == 'a' ? '' : 'none'}">
        <!-- 会议主题 -->
        <div class="showSetView" style="margin-top: 5px;">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              会议主题<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field :disabled="isEdit ? false : true" v-model="minfo.meeting_title" placeholder="请输入会议主题" :rules="[{ required: true, message: '' }]"></van-field>
            </div>
          </div>
        </div>

        <!-- 所在城市/地区 -->
        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              所在城市/地区<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field v-if="isEdit" v-model="minfo.meeting_activitycity" is-link readonly placeholder="请选择城市信息" @click="showChoseCityClick" :rules="[{ required: true, message: '' }]"></van-field>
              <van-field v-else v-model="minfo.meeting_activitycity" readonly placeholder="请选择城市信息"></van-field>
              <van-popup v-model="showChoseCity" round position="bottom" :style="{ height: '50%' }" duration="0.1">
                <van-area
                  title="请选择城市信息"
                  :area-list="regiondata"
                  @confirm="onCityConfirm"
                  @cancel="onCityCancel"
                />
                <!--                <van-picker show-toolbar title="请选择城市信息" :columns="regiondata" @confirm="onCityConfirm" @cancel="onCityCancel"/>-->
              </van-popup>
            </div>
          </div>
        </div>

        <!-- 会议地点 -->
        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              会议地点<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field :disabled="isEdit? false : true" v-model="minfo.meeting_activityaddress" placeholder="请输入会议地点" :rules="[{ required: true, message: '' }]"></van-field>
            </div>
          </div>
        </div>

        <!-- 开始时间 -->
        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              开始时间<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field v-if="isEdit" v-model="minfo.meeting_planningstartdate" is-link readonly placeholder="请选择开始时间" @click="showChoseStartClick" :rules="[{ required: true, message: '' }]"></van-field>
              <van-field v-else v-model="minfo.meeting_planningstartdate" readonly placeholder="请选择开始时间"></van-field>
              <van-popup v-model="showChoseStart" round position="bottom" :style="{ height: '38%' }" duration="0.1">
                <van-datetime-picker v-model="currentDate" type="datetime" title="选择开始时间" :min-date="startMinDate" :max-date="startMaxDate"
                                     @confirm="onStartConfirm" @cancel="onStartCancel" :formatter="formatter" :filter="datefilter"/>
              </van-popup>
            </div>
          </div>
        </div>

        <!-- 结束时间 -->
        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              结束时间<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field v-if="isEdit" v-model="minfo.meeting_planningenddate" is-link readonly placeholder="请选择结束时间" @click="showChoseEndClick" :rules="[{ required: true, message: '' }]"></van-field>
              <van-field v-else v-model="minfo.meeting_planningenddate" readonly placeholder="请选择结束时间" ></van-field>
              <van-popup v-model="showChoseEnd" round position="bottom" :style="{ height: '38%' }" duration="0.1">
                <van-datetime-picker v-model="currentDate" type="datetime" title="选择结束时间" :min-date="endMinDate" :max-date="endMaxDate"
                                     @confirm="onEndConfirm" @cancel="onEndCancel" :formatter="formatter" :filter="datefilter"/>
              </van-popup>
            </div>
          </div>
        </div>

        <!-- 是否使用 -->
        <div class="activeView_row" style="margin-top: 10px;">
          <div class="line"></div>
          <div class="row_detail">
            是否使用
            <span class="greenTitle">E-Meeting线上直播</span>
          </div>
          <van-switch :disabled="isEdit? false : true" v-model="minfo.emt" active-color="#2A918B" inactive-color="#dcdee0"/>
        </div>

        <!-- Initial -->
        <div class="showSetView" v-if="minfo.emt">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              主讲人Initial<span style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view" style="flex-direction: row;height: 60px;border-top: 1px solid #EEEEEE;">
            <div class="binding_view_content dis_center">
              <van-field v-model="minfo.emt_speaker" placeholder="请输入讲者Initial" :rules="[{ required: true, message: '' }]"></van-field>
            </div>
          </div>
        </div>

        <!-- 姓名 -->
        <div class="showSetView" v-if="minfo.emt">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              主讲人单位<span style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view" style="flex-direction: row;height: 60px;border-top: 1px solid #EEEEEE;">
            <div class="binding_view_content dis_center">
              <van-field v-model="minfo.emt_hospital" placeholder="请输入讲者姓名" :rules="[{ required: true, message: '' }]"></van-field>
            </div>
          </div>
        </div>

        <!-- 是否公开 -->
        <div class="showSetView" v-if="minfo.emt" style="margin-top: 10px;">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              是否 <span class="greenTitle font-14">公开</span>
            </div>
            <div class="showQRActive">
              <van-switch :disabled="isEdit? false : true" v-model="minfo.emt_ispublic" active-color="#2A918B" inactive-color="#dcdee0"/>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content">
              <div class="binding_view_content_row margin-top-bottom-10">
                （公开会议会展示在糖医网公众号在线会议专区，所有人均可报名，不公开会议只可通过二维码扫码参与，不会展示在公众号专区列表中）
              </div>
            </div>
          </div>
        </div>

        <!-- 是否需要报名 -->
        <div class="showSetView" v-if="minfo.emt">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              是否 <span class="greenTitle font-14">需要报名</span>
            </div>
            <div class="showQRActive">
              <van-switch :disabled="isEdit? false : true" v-model="minfo.emt_nosign" active-color="#2A918B" inactive-color="#dcdee0"
                          @change="signUpSwitch" />
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content">
              <div class="binding_view_content_row margin-top-bottom-10">
                （无需报名的会议，任何人均可注册观看，但未报名的用户无法接
                收会议提醒）
              </div>
            </div>
          </div>
        </div>

        <!-- 是否报名弹出 -->
        <van-popup v-model="showSignUp" round :style="{ height: '50%'}" duration="0.1">
          <div class="downloadView">
            <div class="download_title">
              <img src="__STATIC__/emt/img/icon_tishi@2x.png" class="download_tishi" />
              <div class="download_title_des">
                提示信息
              </div>
            </div>
            <div class="download_centent_des">
              <div class="download_row5">
                为了确保您的会议有效，请在关闭报名功能前，与合规部门确认对于本场会议，是否可免去该步骤。
              </div>
            </div>

            <div class="buttonView">
              <van-button round type="info" style="min-width: 180px;" @click="showSignUp = false">确认</van-button>
            </div>

          </div>
        </van-popup>

        <!-- 是否开启线下微信签到 -->
        <div class="activeView_row" style="margin-top: 10px;">
          <div class="line"></div>
          <div class="row_detail">
            是否开启
            <span class="greenTitle">线下微信签到</span>
          </div>
          <van-switch :disabled="isEdit? false : true" v-model="minfo.meeting_ischeck" active-color="#2A918B" inactive-color="#dcdee0"/>
        </div>

        <!-- 活动头图 -->
        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail" style="width: 100%;">
              活动头图<span style="font-size: 12px;margin-left: 4px;color: #2A918B;">(图片大小为600x300px为宜，比例2:1)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center" style="height: 200px;">
              <van-uploader :disabled="isEdit? false : true" :deletable="isEdit? true : false" :after-read="afterRead_head"
                            v-model="headFileList" :show-upload="headFileList.length == 0" :style="headFileList.length == 0 ? 'background-image: url(__STATIC__/emt/img/iwe_toutu@2x.png);' :'background-image: url();' "
                            image-fit="contain">
              </van-uploader>
              <div v-if="headFileList.length == 0" class="uploader_title" style="pointer-events: none;">上传活动头图，不传则现实默认图片</br>图片大小为600x300px为宜，比例2:1</div>
            </div>
          </div>
        </div>

        <!-- 大会日程 -->
        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              大会日程
            </div>
            <van-switch :disabled="isEdit? false : true" v-model="minfo.meeting_isagent" active-color="#2A918B" inactive-color="#dcdee0"/>
          </div>
          <div class="binding_view" v-if="minfo.meeting_isagent">
            <div class="binding_view_content dis_center" style="height: 200px;">
              <van-uploader :disabled="isEdit? false : true" :deletable="isEdit? true : false" :after-read="afterRead_schedule"
                            v-model="scheduleFileList" style="background-image: url();" :show-upload="scheduleFileList.length == 0"
                            image-fit="contain" style="height: 400px;">

              </van-uploader>
              <div v-if="scheduleFileList.length == 0" class="uploader_title" style="pointer-events: none;margin-top: 10px;">请上传大会日程图片</div>
            </div>
          </div>
        </div>

        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              计划参与NN人数<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field :disabled="isEdit? false : true" v-model="minfo.meeting_planningnntotalnumber" placeholder="请输入计划参与NN人数" :rules="[{ required: true, message: '' }]"></van-field>
            </div>
          </div>
        </div>

        <div class="showSetView">
          <div class="showSetView_row">
            <div class="line"></div>
            <div class="row_detail">
              计划参与非NN人数<span v-if="isEdit" style="color: #EF4722;margin-left: 10px;font-size: 12px;">(*必填)</span>
            </div>
          </div>
          <div class="binding_view">
            <div class="binding_view_content dis_center">
              <van-field :disabled="isEdit? false : true" v-model="minfo.meeting_planningdisnntotalnumber" placeholder="计划参与非NN人数" :rules="[{ required: true, message: '' }]"></van-field>
            </div>
          </div>
        </div>
      </div>

    </van-form>

    <!-- 3、直播物料 -->
    <div v-if="activeKey == 'c' && minfo.emt" class="activeView">
      <div class="showSetView" style="margin-top: 4px;">
        <div class="showSetView_row">
          <div class="line"></div>
          <div class="row_detail">
            讲者入口
          </div>
        </div>
        <div class="binding_view"  @click="rowClik(1)">
          <div class="binding_view_row">
            <img src="__STATIC__/emt/img/icon_share_lg@2x.png" class="item_img" />
            <div class="item_title">操作手册</div>
            <img src="__STATIC__/emt/img/icon_right@2x.png" class="icon_right" />
          </div>
        </div>

        <div class="binding_view" @click="rowClik(2)">
          <div class="binding_view_row" style="border-top: 0px solid;">
            <img src="__STATIC__/emt/img/icon_qr_zhibo@2x.png" class="item_img" />
            <div class="item_title">讲者直播链接</div>
            <img src="__STATIC__/emt/img/icon_right@2x.png" class="icon_right" :style="show1 == true ? 'transform: rotate(-90deg);' :'transform: rotate(90deg);'" />
          </div>
        </div>

        <div class="binding_detail" v-if="show1">
          <div class="binding_detail_row" style="color: #2A918B;">讲者链接请在电脑浏览器中打开</div>
          <div class="binding_detail_row" style="white-space: normal; ">
            <pre>http://iwe.itangyi.com/emeeting/?c=speaker&m=index&id={{minfo.meeting_id}}</pre>
          </div>

          <div class="binding_detail_row" style="color: #2A918B;margin-top: 30px;">可使用直播APP扫描下方二维码进入直播</div>

          <div class="binding_detail_row" style="color: #2A918B;">
            <div class="qr_view_img" style="margin-top: -20px;">
              <img :src="emt_liveqrcode"  class="qr_img" />
            </div>
          </div>
        </div>
      </div>
      <div class="showSetView">
        <div class="showSetView_row">
          <div class="line"></div>
          <div class="row_detail">
            听众入口
          </div>
        </div>

        <div class="binding_view" @click="rowClik(3)">
          <div class="binding_view_row">
            <img src="__STATIC__/emt/img/icon_qr_zhibo@2x.png" class="item_img" />
            <div class="item_colum_title">
              <div class="item_title">参会二维码</div>
              <div class="item_title_detail">听众使用微信扫描此二维码接收会议推送并报名</div>
            </div>

            <img src="__STATIC__/emt/img/icon_right@2x.png" class="icon_right" :style="show2 == true ? 'transform: rotate(-90deg);' :'transform: rotate(90deg);'"  />
          </div>
        </div>

        <div class="binding_detail" v-if="show2">
          <div class="binding_detail_row" style="color: #2A918B;">
            <div class="qr_view_img" style="margin-top: -20px;">
              <img :src="emt_signqrcode"  class="qr_img" />
              <van-button round type="info" style="min-width: 140px;margin-top: 0px;">长按保存二维码</van-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 4、线下签到 -->
    <div v-if="activeKey == 'd' && minfo.meeting_ischeck" class="activeView">
      <div class="qr_view_img">
        <img src="__STATIC__/emt/img/qrcode@2x.png" class="qr_img" />
        <van-button round type="info" style="min-width: 200px;margin-top: 20px;">长按保存二维码</van-button>
      </div>
    </div>

    <!-- 编辑会议 -->
    <div class="edit" :style="isEdit == true ? 'box-shadow: #91CFCB 0px 0px 5px 2px;background-image: url(__STATIC__/emt/img/icon_edit@2x.png);' :'box-shadow: #cccccc 0px 0px 5px 2px;background-image: url(__STATIC__/emt/img/icon_edit_no@2x.png);'"
         @click="editClick">
    </div>

    <!-- 删除 -->
    <!--
    <div v-if="minfo.emt == '1' && !isEdit" class="delete" :style="isDelete == true ? 'box-shadow: #91CFCB 0px 0px 5px 2px;background-image: url(__STATIC__/emt/img/icon_delete_yuan@2x.png);' :'box-shadow: #cccccc 0px 0px 5px 2px;background-image: url(__STATIC__/emt/img/icon_delete_yuan_no@2x.png);'"
         @click="deleteClick">
    </div>
    -->
    <!-- 保存 -->
    <div v-if="isEdit" class="nextBtn" @click="saveClick">
      保存
    </div>

  </div>
  <van-overlay :show="delete_show"
               z-index="100"
               :custom-style="{
                    background: 'rgb(255, 255, 255, 0.6)',
                    display: 'flex',
                    justifyContent: 'center',
                    paddingTop: '300px',
                  }">
    <van-loading size="24px" color="#4994df">
      <span style="color:#2A918B">正在推送会议取消通知，请稍候</span>
    </van-loading>
  </van-overlay>

  <van-overlay :show="minfo.canceled == '1'"
               z-index="100"
               :custom-style="{
                    background: 'rgb(255, 255, 255, 0.6)',
                    display: 'flex',
                    justifyContent: 'center',
                    paddingTop: '300px',
                  }">
    <span style="color:red">已撤销无法编辑</span>
  </van-overlay>
</div>
<script src="__STATIC__/emt/utils/base.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/emt/utils/area.js" type="text/javascript" charset="utf-8"></script>
<script>
  formatNumber = n => {
    n = n.toString();
    return n[1] ? n : '0' + n
  };
  // 时间格式化
  formatTime = (date,type='') => {
    const year = date.getFullYear();
    const month = date.getMonth() + 1;
    const day = date.getDate();
    const hour = date.getHours()
    const minute = date.getMinutes()
    const second = date.getSeconds()
    if(type){
      return [year, month, day].map(formatNumber).join('/') + ' ' + [hour, minute].map(formatNumber).join(':')
    }else{
      return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute].map(formatNumber).join(':')
    }
  };

  new Vue({
    el: '.app',
    data: {
      // 导航相关
      activeKey: "a",
      doActive: 1,

      //页面配置
      isEdit: false,
      isDelete: false,
      delete_show:false,

      //会议信息
      minfo:[],

      //讲者相关配置
      showspeakersdate:false,
      showspeakeredate:false,
      speakerDateIndex:'',
      speakerDateType:'',

      //直播配置
      show1:false,
      show2:false,

      // 基本信息相关
      showSignUp: false,
      headFileList: [],
      scheduleFileList: [],

      showChoseCity: false,
      showChoseStart: false,
      startMinDate: new Date(2020, 0, 1),
      startMaxDate: new Date(2088, 10, 1),

      showChoseEnd: false,
      endMinDate: new Date(2020, 0, 1),
      endMaxDate: new Date(2088, 10, 1),
      currentDate: new Date(),

      regiondata: area_list,

      emt_liveqrcode:'',
      emt_signqrcode:''
    },
    components: {

    },
    created: function() {
      this.LoadData()
    },
    watch: {
      'minfo.emt'(newVal, oldVal) {
        if(newVal){
          let that = this
          that.getEmtInfo()
        }
      }
    },
    methods: {
      LoadData(){
        let that = this
        $.ajax({
          url: '{:url("emt/gsa_meeting/detail")}',
          type: "POST",
          data: {id:'{$mid}'},
          dataType: "json",
          success: function (res) {
            let minfo = res.data;
            //console.log(res.data)
            minfo.emt = minfo.emt == '1' ? true : false
            minfo.emt_ispublic = minfo.emt_ispublic == '1' ? true : false
            minfo.emt_nosign = minfo.emt_nosign == '0' ? true : false
            minfo.meeting_ischeck = minfo.meeting_ischeck  == '1' ? true : false
            minfo.meeting_isagent = minfo.meeting_isagent  == '1' ? true : false
            if(!minfo.meeting_inviteimg){
              that.headFileList = []
            }else{
              that.headFileList = [{url: minfo.meeting_inviteimg, isImage: true}]
            }

            if(!minfo.meeting_meetingdata){
              that.scheduleFileList = []
            }else{
              that.scheduleFileList = [{url: minfo.meeting_meetingdata, isImage: true}]
            }

            minfo.speakers = !minfo.speakers ? [] : minfo.speakers;
            if(minfo.speakers.length > 0){
              minfo.speakers.map(function(item,index,arr){
                return item.status = true
              })
            }
            that.minfo = minfo
            // if(minfo.emt){
            //   that.getEmtInfo()
            // }
          }
        });
      },
      onClickLeft(e) {
        let calendar = sessionStorage.getItem('calendar');
        if (calendar == 'true') {
          window.location.href = "{:url('emt/index/index',['type'=>'calendar'])}"
        } else {
          window.location.href = "{:url('emt/index/index',['type'=>'list'])}"
        }
      },
      sidebarClick(e) {
        console.log(e)
        this.activeKey = e;
        window.scrollTo(0, 0);
      },
      //右侧三个按钮功能
      editClick(e) {
        var that = this;
        if (that.isEdit == true) {
          that.LoadData()
          that.isEdit = false;
        } else {
          that.isEdit = true;
        }
      },
      deleteClick(e) {
        var that = this;
        that.isDelete = true;
        vant.Dialog.confirm({
          title: '提示',
          message: '是否撤销此会议？',
          confirmButtonColor: '#2A918B'
          })
          .then(() => {
            that.delete_show = true;
            $.ajax({
              url: '{:url("emt/meeting/cancel")}',
              type: "POST",
              data: {id:that.minfo.meeting_id},
              dataType: "json",
              success: function (res) {
                that.delete_show = false;
                if(res.code == '1'){
                  vant.Toast.success(res.msg)
                  let calendar = sessionStorage.getItem('calendar');
                  if (calendar == 'true') {
                    window.location.href = "{:url('emt/index/index',['type'=>'calendar'])}"
                  } else {
                    window.location.href = "{:url('emt/index/index',['type'=>'list'])}"
                  }

                }else{
                  vant.Toast.fail(res.msg)
                }
              }
            })
          })
          .catch(() => {
            // on cancel
            that.isDelete = false;
          });
      },
      saveClick(e) {
        let that = this;
        that.$refs.form.validate().then(() => {
          if(that.minfo.meeting_isagent == '1' && that.scheduleFileList.length <= 0){
            vant.Toast.success('请上传大会日程图片')
            return;
          }

          let minfo = JSON.parse(JSON.stringify(that.minfo));
          minfo.emt = minfo.emt ? 1 : 0;
          minfo.meeting_ischeck = minfo.meeting_ischeck ? 1 : 0;
          minfo.meeting_isagent = minfo.meeting_isagent ? 1 : 0;
          minfo.emt_ispublic = minfo.emt_ispublic ? 1 : 0;
          minfo.emt_nosign = minfo.emt_nosign ? 0 : 1;
          minfo.meeting_inviteimg = that.headFileList.length > 0 ? minfo.meeting_inviteimg : "";
          minfo.meeting_meetingdata = that.scheduleFileList.length > 0 ? minfo.meeting_meetingdata : "";
          if(minfo.meeting_isagent == 0){
            minfo.meeting_meetingdata = ''
          }
          $.ajax({
            url: '{:url("emt/gsa_meeting/edit")}',
            type: "POST",
            data: minfo,
            dataType: "json",
            success: function (res) {
              if(res.code == '1'){
                vant.Dialog.alert({
                  title: '提示',
                  message: res.msg,
                  confirmButtonColor: '#2A918B'
                }).then(() => {
                  let calendar = sessionStorage.getItem('calendar');
                  if (calendar == 'true') {
                    window.location.href = "{:url('emt/index/index',['type'=>'calendar'])}"
                  } else {
                    window.location.href = "{:url('emt/index/index',['type'=>'list'])}"
                  }
                });
              }else{
                vant.Toast.fail(res.msg)
              }
            }
          });
        }).catch(() => {
          vant.Toast.success('请将必填字段填写完整')
          return
        })


      },
      // 基本信息相关
      showChoseCityClick(e) {
        var that = this;
        that.showChoseCity = true;
      },
      onCityConfirm(e) {
        var that = this;
        that.minfo.meeting_activitycity = e[0].name + ' / ' + e[1].name + ' / ' + e[2].name;
        that.showChoseCity = false;
      },
      onCityCancel(e) {
        var that = this;
        that.showChoseCity = false;
      },
      showChoseStartClick(e) {
        var that = this;
        that.showChoseStart = true;
      },
      onStartConfirm(e) {
        var that = this;
        that.showChoseStart = false;
        that.minfo.meeting_planningstartdate = formatTime(e);
      },
      onStartCancel(e) {
        var that = this;
        that.showChoseStart = false;
      },
      formatter(type, val) {
        if (type === 'year') {
          return `${val}年`;
        } else if (type === 'month') {
          return `${val}月`;
        } else if (type === 'day') {
          return `${val}日`;
        } else if (type === 'hour') {
          return `${val}时`;
        } else if (type === 'minute') {
          return `${val}分`;
        }
        return val;
      },
      datefilter(type, options) {
        if (type === 'minute') {
          return options.filter((option) => option % 5 === 0);
        }
        return options;
      },
      showChoseEndClick(e) {
        var that = this;
        that.showChoseEnd = true;
      },
      onEndConfirm(e) {
        var that = this;
        that.showChoseEnd = false;
        that.minfo.meeting_planningenddate = formatTime(e);
      },
      onEndCancel(e) {
        var that = this;
        that.showChoseEnd = false;
      },
      signUpSwitch(e) {
        var that = this;
        if (e == false) {
          that.showSignUp = true;
        }
      },
      afterRead_head(file){
        let that = this;
        $.ajax({
          url: '{:url("emt/upload/upload_base64_img")}',
          type: "POST",
          data: {file:file.content},
          success: function (res) {
            if(res.code == 1){
              that.headFileList = [{url: res.data, isImage: true}]
              that.minfo.meeting_inviteimg = res.data
              vant.Toast.success(res.msg)
            }else{
              that.headFileList = []
              vant.Toast.fail(res.msg)
            }
          }
        });
      },
      afterRead_schedule(file){
        let that = this;
        $.ajax({
          url: '{:url("emt/upload/upload_base64_img")}',
          type: "POST",
          data: {file:file.content},
          success: function (res) {
            if(res.code == 1){
              that.scheduleFileList = [{url: res.data, isImage: true}]
              that.minfo.meeting_meetingdata = res.data
              vant.Toast.success(res.msg)
            }else{
              that.scheduleFileList = []
              vant.Toast.fail(res.msg)
            }
          }
        });
      },

      //讲者相关
      showspeakerDate(type,index){
        this.speakerDateIndex = index
        this.speakerDateType = type
        if(type == 'sdate'){
          this.showspeakersdate = true
        }else{
          this.showspeakeredate = true
        }
      },
      speakerdateConfirm(e){
        if(this.speakerDateType == 'sdate'){
          this.minfo.speakers[this.speakerDateIndex]['sdate'] = formatTime(e,1)
          this.showspeakersdate = false
        }else{
          this.minfo.speakers[this.speakerDateIndex]['edate'] = formatTime(e,1)
          this.showspeakeredate = false
        }
      },
      addDoctorClick(){
        this.minfo.speakers.push({sdate:'',edate:'',role:"speaker",name:"",hospital:"",office:"",jobtitle:"",doctorcode:""})
      },
      deleteDay(index) {
        let that = this;
        vant.Dialog.confirm({
          title: '提示',
          message: '是否删除此信息？',
          confirmButtonColor: '#2A918B'
        }).then(() => {
          that.minfo.speakers.splice(index, 1);
        }).catch(() => {

        });
      },
      speakerCardBottomClick(e,index){
        var that = this;
        //console.log(e)
        if(e.status){
          that.minfo.speakers[index]['status'] = false;
        }else{
          that.minfo.speakers[index]['status'] = true;
        }
      },
      //线上直播相关
      rowClik(e){
        var that = this;
        if(e == 1){
          window.location.href='http://iwe.itangyi.com/emeeting/public/doc/live-help.pdf'
        }else if(e == 2){
          if(that.show1 == true){
            that.show1 = false;
          }else{
            that.show1 = true;
          }
        }else if(e == 3){
          if(that.show2 == true){
            that.show2 = false;
          }else{
            that.show2 = true;
          }
        }
      },
      getEmtInfo(){
        let that = this;
        $.ajax({
          url: '{:url("emt/meeting/emt_binder")}',
          type: "POST",
          data: {meeting_id:that.minfo.meeting_id,type:'iwe'},
          success: function (res) {
            if(res.code == '1'){
              that.emt_signqrcode = res.data.qrcode_url;
            }
            //console.log("yyyy",res)
          }
        });
        // $.ajax({
        //   url: '{:url("emt/meeting/emt_binder")}',
        //   type: "POST",
        //   data: {meeting_id:that.minfo.meeting_id},
        //   success: function (res) {
        //     if(res.data.liveid) {
        //       var qrcode = 'http://iwe.itangyi.com/emeeting/public/qrcode/' + res.data.iweid + '.png';
        //       that.emt_liveqrcode = qrcode
        //       that.emt_signqrcode = that.minfo.meeting_imgqcode
        //     }
        //   }
        // });
      }
    }
  })
</script>
</body>
</html>