<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^qmce.nuohenuode.cn [NC]
  RewriteCond %{SERVER_PORT} !^443$
  # RewriteCond %{REQUEST_URI} !^/alipay.php
  RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
</IfModule>
